@import "../../styles/vars.css";

.navbar {
    display: none;
}

@media screen and (min-width: 768px) {
    .navbar {
        position: sticky;
        top: 0;
        height: 4rem;
        display: flex;
        max-width: 100vw;
        align-items: center;
        justify-content: space-evenly;
    }

    .navbar a {
        display: none;
    }
    .open a {
        display: flex;
    }

}

.toggle {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 32px;
    justify-content: center;
    position: absolute;
    right: 16px;
    width: 32px;
    z-index: 2;
}

.toggle::before,
.toggle::after {
    box-shadow: 0 1px 0 0 var(--textColor), 0 -2px 0 0 var(--textColor);
    content: ' ';
    display: block;
    height: 4px;
    transition: .15s all ease-in-out;
    width: 18px;
}

.toggle::after {
    box-shadow: 0 2px 0 0 var(--textColor), 0 -1px 0 0 var(--textColor);
}

.open .toggle {
    align-items: center;
    display: flex;
    justify-content: center;
}

.open .toggle::before,
.open .toggle::after {
    box-shadow: 0 0 0 1px var(--textColor);
    height: 0;
    position: absolute;
    transform: rotate(45deg);
    width: 13px;
}

.open .toggle::after {
    transform: rotate(-45deg);
}
