.intro {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

@media (min-width: 800px) {
    .intro{
        flex-direction: row;
    }
}